:root {
  --blob-color-start: pink;
  --blob-color-end: blue;
}

* {
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  flex-direction: column;
}

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(var(--blob-color-start), var(--blob-color-end));
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-radius 300ms ease-in-out;
}

.title {
  margin-bottom: 10px;
}
