* {
  margin: 0px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  transition: border-radius 150ms ease-in-out;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
}

.blob {
  width: 200px;
  height: 200px;
  background: linear-gradient(orange, pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerBlob {
  width: 50px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}
